<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Book</h5>
          <p>
          <strong>Title</strong>: {{book.title}}</p>
          <p>
          <p>
            <strong>Author</strong>: {{book.author}}</p>
          <p>
            <strong>Genre:</strong> {{book.genre}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
