<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        <h1>{{msg}}</h1>
        <h2>Readit Project</h2>
        <form class="clearfix mb-4" action="POST">
          <div class="form-group"> <!-- BOOK COLUMNS -->
            <label for="book-title">Title</label>
            <input type="text" id="book-title" class="form-control" aria-describedby="book-title" placeholder="Enter Title">
          </div>
          <div class="form-group">
            <label for="book-author">Author</label>
            <input type="text" id="book-author" class="form-control" aria-describedby="book-author" placeholder="Enter Author">
          </div>
          <div class="form-group">
            <label for="example-description">Example Description</label>
            <textarea class="form-control" id="example-description" aria-describedby="example-description" placeholder="Enter Example Description"></textarea>
          </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
